/* Header Section */
.navbar {
  padding: 1% 15%;
  background-color: #eba434;
  margin-bottom: 7rem;
}
.search {
  padding: 0 15%;
  margin-bottom: 7rem;
}
/* Card Section */

.card {
  width: 20rem;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ebba34;
  box-shadow: 0, 2px 5px rgba(0, 0, 0, 0.3);
  transform: all;
}
.card:hover{
  background-color: rgb(231, 229, 229);
  cursor: pointer;
}
.emoji{
  font-size: 38px;
}
.emoji:hover{
  font-size: 50px;
}
.emoji-name {
  font-weight: 400;
}
/* Footer Section */
.footer{
  text-align: center;
  padding: 100px 0 20px 0; 
}